/* src/components/AdminPanel.css */

.admin-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #181b1e; /* Page background color */
  color: #ffffff;
  height: 100vh;
  padding: 20px;
}

.admin-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

h1 {
  margin-bottom: 20px;
  color: #86ffcc; /* Match the highlight color */
}

button {
  padding: 10px 20px;
  background-color: #e2bb57 !important; /* Update button background color */
  border: none;
  border-radius: 5px;
  color: #000000 !important; /* Match button text color */
  cursor: pointer;
  margin: 10px 0;
  text-decoration: none; /* Ensure text is not underlined */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

button:hover {
  background-color: #d1aa46 !important; /* Slightly darker shade for hover */
}

button:focus {
  outline: none;
  box-shadow: 0 0 5px #86ffcc;
}
