/* src/components/ConfigureEvent.css */

.configure-event-page {
  padding: 20px;
}

.event-card {
  background-color: #23312f; /* Match the event box background color */
  color: #ffffff;
  border: 2px solid #86ffcc; /* Match the outline color */
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-info {
  flex: 1;
}

.event-info h3 {
  margin: 0;
  font-size: 1.5em;
}

.event-info p {
  margin: 5px 0;
}

.event-actions {
  display: flex;
  gap: 10px;
}

.button {
  background-color: #e2bb57; /* Match button background color */
  color: #000000; /* Match button text color */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.button:hover {
  background-color: #d1aa46; /* Slightly darker shade for hover */
}

.delete-btn {
  background-color: #ff0000; /* Different color for delete button */
}

.delete-btn:hover {
  background-color: #cc0000; /* Slightly darker shade for hover */
}
