/* src/components/ConfigureEventComp.css */

.configure-comp-page {
  padding: 20px;
  background-color: #181b1e;
  color: #ffffff;
}

.unassigned-dropzone {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #23312f;
  border: 2px solid #86ffcc;
  border-radius: 10px;
}

.unassigned-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.party-container {
  margin-bottom: 20px;
}

.roles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.role-square {
  width: 150px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dashed #86ffcc;
  border-radius: 5px;
  background-color: #23312f;
  color: #ffffff;
}

.signup-details {
  text-align: center;
}

.signup-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.signup-roles {
  font-size: 0.9rem;
  color: #86ffcc;
}

.remove-button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #ff4d4d;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.remove-button:hover {
  background-color: #ff0000;
}

.save-button {
  padding: 10px 20px;
  background-color: #e2bb57;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.save-button:hover {
  background-color: #d1aa46;
}
