.player-lookup {
    text-align: center;
    margin: 20px;
    color: #e2bb57; /* Adjust to match the text color of player data */
  }
  
  .player-lookup input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #23312f; /* Match background color of the page */
    color: #e2bb57; /* Match text color */
  }
  
  .player-lookup button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .player-lookup button:hover {
    background-color: #0056b3;
  }
  
  .player-data {
    margin-top: 20px;
    text-align: left;
  }
  
  .player-data-item {
    border: 1px solid #86ffcc; /* Match the outline color of the event box */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #23312f; /* Match background color of the page */
    color: #e2bb57; /* Match text color */
  }
  
  .build-items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  
  .build-item {
    display: flex;
    align-items: center;
    margin-right: 15px;
    background-color: #181b1e; /* Slightly darker than the page background */
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #86ffcc; /* Match the outline color of the event box */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #e2bb57; /* Match text color */
  }
  
  .build-item img {
    max-width: 40px;
    margin-right: 10px;
  }
  
  .build-stats {
    margin-top: 15px;
  }
  
  .player-data-item h3 {
    margin-bottom: 15px;
    color: #86ffcc; /* Match text color for headings */
  }
  
  .error {
    color: red;
    margin-top: 10px;
  }
  