/* src/components/ViewComp.css */

.view-comp-page {
  padding: 20px;
  background-color: #181b1e; /* Page background color */
  color: #ffffff;
}

h1, h2 {
  color: #86ffcc; /* Match the highlight color */
}

.party-container {
  margin-bottom: 20px;
}

.roles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.role-square {
  padding: 10px;
  border-radius: 5px;
  width: 120px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  border: 1px dashed black;
  color: black;
}

.signup-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-name {
  font-weight: bold;
}

.signup-role {
  margin-top: 5px;
}
